.default-background__main {
  background: rgb(0, 168, 150);
  background: linear-gradient(
    90deg,
    rgba(0, 168, 150, 0.75) 0%,
    rgba(5, 102, 141, 0.6) 100%
  );
}

.center-outer__main {
  height: 100vh;
  width: 100%;
  position: relative;
}

.center-inner__main {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.button-center-round {
  margin-top: 30px !important;
  border-radius: 20px !important;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter__main {
  margin-top: 20px;
}

.button__main {
  color: white !important;
}

.Tabs__main {
  background-color: transparent !important;
  box-shadow: none !important;
}

.Mui-selected {
  color: white !important;
}

.MuiTabs-indicator {
  background-color: white !important;
}

.MuiTab-root {
  color: rgba(255, 255, 255, 0.9) !important;
}

.listItem:hover {
  color: black;
  font-size: 20px;
}

.albumPhoto {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.albumPhoto:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}
