.default-background__main {
  background: rgb(0, 168, 150);
  background: linear-gradient(
    90deg,
    rgba(0, 168, 150, 0.75) 0%,
    rgba(5, 102, 141, 0.6) 100%
  );
}

.center-outer__main {
  height: 100vh;
  width: 100%;
  position: relative;
}

.center-inner__main {
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translate(-50%, 0%);
}

.filter__main {
  margin-top: 20px;
}

.button__main {
  color: white !important;
}

.Tabs__main {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* .Mui-selected {
  color: white !important;
} */

.num_of_songs .Mui-selected {
  color: rgba(5, 102, 141, 0.6) !important;
}

.MuiTabs-indicator {
  background-color: white !important;
}

.MuiTab-root {
  color: rgba(255, 255, 255, 0.9) !important;
}

.listItem:hover {
  color: black;
  font-size: 20px;
}

.albumPhoto {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.albumPhoto:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.toolTipContainer__main img {
  max-height: 100px;
  width: auto;
}

.toolTipContainer__main {
  margin-bottom: 10px;
}

img.color {
  filter: blur(0.1px) brightness(0.5) grayscale(0%) !important;
}

.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  stroke: white;
}

.library__main {
  max-width:800px;
  height: 60vh;
  overflow: auto;
  position: relative;
  top: 30px;
  display: block;
  overflow-x:hidden !important;
}

.text__main {
  position: relative;
  top: 15px;
  bottom: 20px;
  display: block;
}

.text__main .MuiFormHelperText-root {
  color: white;
}

.text__main .MuiInput-underline {
  border-bottom: white !important;
}

.text__main .title {
  font-size: 0.8rem;
  margin-right: 20px;
}

.button-center-round__main {
  margin-left: 20px !important;
}

.MuiInput-input {
  color: white !important;
  font-weight: 100 !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8) !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5) !important;
}

.text__main .MuiSelect-icon {
  color: rgba(255, 255, 255, 0.5);
}

.modal__track {
  display: flex;
  text-align: center;
  justify-content: center;
  top: 40% !important;
  height: 100px;
}

.paper__track {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 12px -3px rgba(5, 102, 141, 0.6);
  padding: 20px;
}

.paper__track h5 {
  font-size: 14px;
}

.paper__track p {
  font-size: 13px;
}

.paper__track:focus-visible {
  outline: none !important;
}

.track_block {
  max-width: 150px !important;
  flex-basis: 125px !important;
}
