.default-background__generatedlist {
  background: linear-gradient(-45deg, #05668d, #028090, #00a896);
}

.center-outer__generatedlist {
  height: 450vh;
  width: 100vw;
  position: relative;
}

.center-inner__generatedlist {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.button-center-round {
  margin-top: 30px !important;
  border-radius: 20px !important;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button__main {
  color: white !important;
}

.title {
  font-size: 36px;
}

.recList img {
  float: left;
  max-height: 125px;
  max-width: 125px;
  width: auto;
}

.MuiCard-root {
  margin-bottom: 8px;
}

.information__list {
  padding-left: 10px;
  padding-right: 10px;
}
.information__list p {
  text-align: center;
  color: rgba(220, 220, 220, 1) !important;
}

.recList {
  margin-top: 20px;
  max-width: 500px;
  min-width: 300px;
}

.recList > .MuiPaper-root {
  background-color: rgba(255, 255, 255, 0.3) !important;
  background: rgb(39, 35, 38);
  background: linear-gradient(
    180deg,
    rgba(39, 35, 38, 1) 0%,
    rgba(40, 41, 44, 1) 100%
  ) !important;
  max-height: 125px;
}

.songName__list {
  font-size: 0.9rem !important;
}

.artistName__list {
  margin-top: 5px !important;
  font-size: 11px !important;
}

.songTexts__list {
  margin-top: 20px;
  margin-left: -10px;
}

.audioPlayer {
  margin-top: 15px;
  margin-left: 55px;
  text-align: center;
}

.audioPlayer .MuiPaper-root {
  box-shadow: none !important;
  background-color: transparent !important;
}

.audioPlayer .MuiTypography-body1 {
  /* display: none; */
  margin-top: 7px;
  font-size: 11px !important;
}

.recList .MuiSlider-colorPrimary {
  color: rgb(2, 144, 142) !important;
}

.recList svg {
  color: rgb(90, 90, 90) !important;
  font-size: 1.5rem !important;
}

.audioPlayer .MuiSvgIcon-root:hover {
  color: rgba(80, 80, 80, 1) !important;
}

.audioPlayer .MuiGrid-item {
  padding: 8px !important;
}

.likeButton__list {
  display: inline-block;
  margin-top: 5px;
  margin-left: -90px;
}

.likeButton__list div {
  width: 80px;
  height: 80px;
  background-position-y: -18px !important;
  box-shadow: inset 0 0 0 2000px rgb(40 41 44 / 35%);
}

.noDemo {
  color: rgba(200, 200, 200, 0.9);
  font-size: 12px;
  margin-left: -60px;
}
